<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Reciclagem Inteligente</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
  <div class="logo-container">
    <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RI">
    <h1>Reciclagem Inteligente</h1>
  </div>
  <nav>
    <a href="{{ url_for('index') }}">Início</a>
    <a href="{{ url_for('sobre') }}">Sobre o Projeto</a>
    <a href="{{ url_for('ranking') }}">Ranking</a>
    <a href="{{ url_for('login') }}">Login</a>
  </nav>
</header>

  <main>
    {% block content %}
    <!-- Conteúdo específico de cada página será inserido aqui -->
    {% endblock %}
  </main>
  
  <footer>
    <p>&copy; 2025 - Projeto Estácio Floresta</p>
  </footer>
</body>
</html>
