<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Reciclagem Inteligente</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <header>
    <div class="logo-container">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RI">
      <h1>Reciclagem Inteligente</h1>
    </div>
      <a href="{{ url_for('index') }}">Início</a>
      <a href="{{ url_for('sobre') }}">Sobre o Projeto</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('ranking') }}">Ranking</a>
    </nav>
  </header>
  <main>
    <section class="intro">
      <h2>Transformando resíduos em soluções para o futuro</h2>
      <p>Participe da reciclagem inteligente e ganhe recompensas enquanto contribui para um futuro sustentável!</p>
      <a href="{{ url_for('sobre') }}" class="btn">Conheça o Projeto</a>
    </section>
    <div class="hero-img">
      <img src="{{ url_for('static', filename='img/lixeiras-automatizadas.png') }}" alt="Lixeiras inteligentes com estudante">
    </div>
  </main>
  <footer>
    <p>&copy; 2025 - Projeto Estácio Floresta</p>
  </footer>
</body>
</html>
