<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="logo-container">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RI">
      <h1>Reciclagem Inteligente</h1>
    </div>
    <nav>
      <a href="{{ url_for('index') }}">Início</a>
      <a href="{{ url_for('sobre') }}">Sobre o Projeto</a>
      <a href="{{ url_for('ranking') }}">Ranking</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('funcionamento') }}">Funcionamento</a>
    </nav>
  </header>
  <main>
    <section class="login-section">
      <h2>Acesse sua conta</h2>
      <form action="{{ url_for('login') }}" method="POST">
        <label for="matricula">Matrícula da Faculdade:</label>
        <input type="text" id="matricula" name="matricula" required>
        <button type="submit">Entrar</button>
      </form>
    </section>
  </main>
  <footer>
    <p>&copy; 2025 - Projeto Estácio Floresta</p>
  </footer>
</body>
</html>
