<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <div class="logo-container">
      <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logo RI">
      <h1>Reciclagem Inteligente</h1>
    </div>
    <nav>
      <a href="{{ url_for('index') }}">Início</a>
      <a href="{{ url_for('sobre') }}">Sobre o Projeto</a>
      <a href="{{ url_for('login') }}">Login</a>
      <a href="{{ url_for('ranking') }}">Ranking</a>
    </nav>
  </header>
  <main>
     <section class="section">
      <h2>♻️ Lixeira Inteligente – Recicle e Ganhe!</h2>
    </section>

    <section class="section">
      <h2>1️⃣ Cadastro Rápido</h2>
      <p>Use sua matrícula da faculdade para se cadastrar no aplicativo de forma fácil e rápida.</p>
    </section>

    <section class="section">
      <h2>2️⃣ Escaneie o QR Code e Deposite o Material</h2>
      <p>Escaneie o QR Code para liberar a lixeira e deposite o material reciclável nela.</p>
    </section>

    <section class="section">
      <h2>3️⃣ Junte Pontos e Ganhe Benefícios</h2>
      <p>Cada item reciclado gera pontos em sua conta, que podem ser trocados por descontos em serviços parceiros.</p>
    </section>

      <section class="section" style="text-align: center;">
      <h2>📲 Participe Agora!</h2>
      <p><strong>Recicle hoje. Ganhe amanhã. <br> Faça parte da mudança!</strong></p>
    </section>

    <section class="login-section">
      <h2>Acesse sua conta</h2>
      <form action="{{ url_for('login') }}" method="POST">
        <label for="matricula">Matrícula da Faculdade:</label>
        <input type="text" id="matricula" name="matricula" required>
        <button type="submit">Entrar</button>
      </form>
    </section>
      <div class="back-button">
      <a href="{{ url_for('index') }}" class="btn">Voltar ao Início</a>
    </div>
  </main>
  <footer>
    <p>&copy; 2025 - Projeto Estácio Floresta</p>
  </footer>
</body>
</html>
